
    body {
        background: linear-gradient(to bottom right, rgb(16, 5, 5) 60%, rgb(34, 34, 70) 40%);
        height: 100vh;
    }
    
.button {
border: none;
padding: 0.5em;
border-radius: 5px;
cursor: pointer;
}
.button:hover{
    filter: brightness(90%);
}
.button:active{
     transform: translateY(3px);
}
.chat-container {
    background: linear-gradient(to bottom, #3498db, #2c3e50);
    font-family: cursive;
    border-radius: 0.5em;
    padding: 1.5em;
    margin: 2em auto;
    max-width: 37.5em;
    height: 35em;
    box-shadow: 0 0 10px black;
    overflow: hidden;
}

.person{
    display: flex;
    justify-content: center;
    gap: 1em;
    margin: 3em auto 1em;
    max-width:40em;
}
.person-button{
    width:100%;
    background-color:cadetblue;
    color: black;
    font-size: medium;
}
.active-person{
    background-color:aqua;
    box-shadow:0 0 10px rgb(1, 26, 49);
}

.chat-header{
    margin-bottom: 1em;
    color: whitesmoke;
}
.chat-header h2{
    font-size: 1.25em;
    font-weight: bold;
}
.chat-messages{
    height: 24em;
    overflow-y: scroll;
}
.chat-messages::-webkit-scrollbar{
    width: 6px;
}
.chat-message::-webkit-scrollbar-thumb{
    background-color: bisque;
    border-radius: 5px;
}
.chat-messages::-webkit-scrollbar-track{
    background: darkslategrey;
}
.message{
    padding: 0.635em;
    border-radius:1em;
    margin-bottom:0.625em;
    display:flex;
    color: antiquewhite;
    flex-direction: column;
}

.message-sender{
    font-weight: bold;
    margin-bottom: 0.31em;
}
.message-text{
    font-size: 0.7em;
    margin-bottom:0.21em;
    word-wrap: break-word;

}
.message-timestamp{
    font-size: 0.65em;
    text-align: right;
}
.black-bg{
    background-color:#2c3e50;
    height:50px;

}
.light-bg{
    background-color:lightsalmon;
    height:50px;
}
.input-form{
    display: flex;
    align-items: center;
    margin-top: 2em;
}
.input-chat{
    padding: 0.345em;
    border: none;
    border-radius: 3px;
    background-color: bisque;
    color: black;
    font-size: 1em;
    flex-grow:1;
    width: 60px;
     
}
.send-button{
    background-color:darkgreen;
    border-radius:2px;
    color:bisque;
    font-weight: bold;
    margin-left: 0.625em;
    width: 130px;
    height: 30px;
}
.send-button:active{
    transform: translateY(3px);
}

.clear-button{
    display: block;
    margin: 2.5em auto;
    
}
.clear-button:active{
    transform: translateY(3px);
}
h1{
    color:rgb(19, 203, 231);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin-top: 1em;
}
.sender-message {
    align-self: flex-start;
    background-color:#2c3e50;
}

.receiver-message {
    align-self: flex-end;
    background-color:lightsalmon
}
